*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* App styles */
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
}

.container > div {
  margin: 1rem 2rem;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 0.5rem;
}

.product {
  border: 1px solid #ccc;
  border-radius: 0.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-container {
  text-align: center;
}

.btn-container > button {
  margin: 0.25rem;
  max-width: 70%;
  padding: 0.25rem;
}

.btn-container > button.primary {
  background-color: green;
  color: #fff;
}

.btn-container > button.danger {
  background-color: red;
  color: #fff;
}

.cart-container {
  display: flex;
  align-items: center;
  gap: 0.25em;
  margin: 1rem 0;
}
